* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-style: normal;
  min-height: 100dvh !important;
  width: 100dvw !important;
  overflow: "hidden";
}

html,
body {
  overscroll-behavior-y: none;
}
