.button:active,
.button:hover {
  background-color: #e1ffa9;
}

.button {
  transition: all 200ms ease;
}

.button.success {
  background-color: #69de6f;
}

.button.error {
  background-color: #e07c8fd4;
}
